.register_form {
    width: 49%;
    float: right;
    border-left: 2px solid #dcdcdc;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    height: 62%;
}

.inputs-window {
    background-color: white;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    width: 40%;
    margin-left: 26%;
    padding: 5% 5% 10% 5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
}

.msg {
    font-size: 150%;
    font-family: Candara;
    text-align: center;
}

.login-msg {
    margin-top:5%;
}

.textfield {
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 90%;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    font-weight: lighter;
    font-family: Papyrus;
}

.textfield:focus {
    padding: 3%;
    outline: none !important;
    border: 2px solid #9ab3cd;
    box-shadow: 0 0 7px #719ECE;
}

.login_form {
    width: 49%;
    float: left;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    height: 62%;
}

.reg_email {
    margin-top: 10%;
}

.log_email {
    margin-top: 17%;
}

.reg_pass {
    margin-top: 15%;
}

.log_pass {
    margin-top: 24%;
}

.button {
    margin-top: 10%;
    background-color: #686ae3;
    border-radius: 0;
    width: 100%;
    height: 9%;
    border: 2px solid #6364df;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    font-family: Magneto;
}

    .button:hover {
        background-color: #9798e2;
        border-color: #9899e3;

    }

    .button:active {
        -webkit-box-shadow: inset 0px 0px 5px #303030;
        -moz-box-shadow: inset 0px 0px 5px #303030;
        box-shadow: inset 0px 0px 5px #303030;
    }

.login-button {
    margin-top: 18%;
    background-color: #712a00;
    border-color: #651818;
}

.login-button:hover {
    background-color: #756256;
    border-color: #634242;
}


body {
    background-color: #f1f1f1;
    padding-top: 0.5%;
}

.reg-error-message-wrapper {
    position: fixed;
    top: 85%;
    left: 64%;
    width: 24%;
}

.login-error-message-wrapper {
    position: fixed;
    top: 85%;
    left: 13.5%;
    width: 24%;

}

h1 {
    width: 40%;
    color: white;
    background-color: black;
    -webkit-box-shadow: 1px 1px 8px 10px black;
    -moz-box-shadow: 0px 0px 8px 10px black;
    box-shadow: 0px 0px 8px 10px black;
    font-family: Arial;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}