.label {
    background-color: #D2B48C;
    border-color: #D2B48C;
}

.document-content {
    border-color: #A0522D;
}

.content {
    border-color: #A0522D;
}

.dropdown {
    position: absolute;
    left: 2%;
    top: 25%;
    height: 50%;
    width: 75px;
}

.dropdown-button {
    position: absolute;
    background-color: darkgray;
    height: 100%;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .category-button-container {
    display: block;
}

.category-button {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-family: Candara;
    font-size: 16px;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

    .category-button:hover {
        background-color: #ddd;
    }
